<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>!!Chuck Norris</title>
</head>

<body>
  <img class="img" src="https://api.chucknorris.io/img/chucknorris_logo_coloured_small@2x.png"
    alt="é ele msm?">
  <% result.forEach(function(joke) { %>
  <h1 class="joke">
    <%= joke.value %>
  </h1>
  <% }); %>
  <a class="backBtn" href="/categories">Back to categories</a>
</body>
<style>
  body {
    background: linear-gradient(45deg, rgb(71, 71, 71) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 253, 250, 1) 85%, rgba(241, 90, 36, 1) 100%);
    text-align: center;
  }

  .img {
    width: 30%;
  }

  .joke {
    color: rgb(46, 46, 46);
    font-size: 3vw;
    margin-bottom: 100px;
  }

  .backBtn {
    background-color: #F15A24;
    color: white;
    padding: 3px;
    text-decoration: none;
    border-radius: 5px;
  }
</style>

</html>
