* {
  padding: 0;
  margin: 0;
}

.centro {
  width: 90%;
  height: 100%;
  background-color: #333;
  margin: 0 auto;
}

.topo {
  width: 100%;
  height: 20%;
  background-color: #f00;
  text-align: center;
}

.topo h1 {
  color: #fff;
  font-size: 2em;
}

.content {
  display: flex;
}

@media (orientation: landscape) {

  .topo {
    background-color: rgb(44, 44, 44);
  }

  .centro {
    background-color: rgb(73, 73, 73);
  }
}

.colunas {
  width: 50%;
  height: 30%;
  background-color: #999;
  /* padding: 10px; */
  text-align: center;
}
