* {
  padding: 0;
  margin: 0;
}

.centro {
  width: 90%;
  height: 100%;
  background-color: #333;
  margin: 0 auto;
}

.topo {
  width: 100%;
  height: 20%;
  background-color: #f00;
  text-align: center;
}

.topo h1 {
  color: #fff;
  font-size: 2em;
}

.content {
  display: flex;
}

.colunas {
  width: 50%;
  height: 30%;
  background-color: #999;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width:320px) and (max-width:568px){
  .centro {
    width: 100%;
  }

  .topo {
    background-color: #ff0;
  }

  .topo h1 {
    color: #f00;
  }

  .content {
    display: inline;
  }

  .colunas {
    width: 100%;
    margin-top: 5px;
    background-color: #f00;
  }
}
